body {
    font-family: "Sen", sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

img {
    max-width:100%;
    display:block;
}

header {
    background:#111;
    color:#fff;
    padding:6em 3em;
}

#projects {
    padding:6em 3em;
    background:#eee;

    h2 {
        text-transform:uppercase;
        text-align:center;
        font-size:2.5rem;
        margin-bottom:1em;
    }
}

.projects-grid {
    --horizontal-gap:2em;
    gap:4em var(--horizontal-gap);
    display:flex;
    flex-flow:column wrap;

    /* Max Height needs to be updated depending on number/size of projects */
    /* Defaulting to 1 column for mobile and moving up */
    .project { width:100%; }
    @media (width >= 700px) { 
        max-height:600vw;
        .project { width: calc(50% - var(--horizontal-gap)) }
    }
    @media (width >= 900px) { 
        max-height:320vw;
        .project { width: calc(33.333% - var(--horizontal-gap)) }
    }
    @media (width >= 1420px) { 
        max-height:200vw;
        .project { width: calc(25% - var(--horizontal-gap)) }
    }
    @media (width >= 1920px) { 
        max-height:130vw;
        .project { width: calc(20% - var(--horizontal-gap)) }
    }

    .project {
        box-shadow: 0 0 1em #0003;
        transition:scale .25s ease-out, box-shadow .25s ease-out;

        &:hover {
            scale:1.05;
            cursor:pointer;
            box-shadow:0 0 1em #0009;
        }

        img {
            width:100%;
        }
    }
}