body {
    font-family: "Sen", sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    margin:0;
}

img {
    max-width:100%;
    display:block;
}

.visually-hidden {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

header {
    background:#111;
    color:#fff;
    padding:6em 3em;
}

#projects {
    padding:6em 3em;
    background:#eee;
    transition:background .5s;

    h2 {
        text-transform:uppercase;
        text-align:center;
        font-size:2.5rem;
        margin-bottom:1em;
    }

    &:has(.project:hover) {
        background:#0008;

        .project:not(:hover) {
            filter:brightness(.35);
        }
    }
}

.projects-grid {
    --horizontal-gap:2em;
    gap:4em var(--horizontal-gap);
    display:flex;
    flex-flow:column wrap;

    /* Max Height needs to be updated depending on number/size of projects */
    /* Defaulting to 1 column for mobile and moving up */
    .project { width:100%; }
    @media (width >= 600px) { 
        max-height:600vw;
        .project { width: calc(50% - var(--horizontal-gap)) }
    }
    @media (width >= 900px) { 
        max-height:320vw;
        .project { width: calc(33.333% - var(--horizontal-gap)) }
    }
    @media (width >= 1420px) { 
        max-height:200vw;
        .project { width: calc(25% - var(--horizontal-gap)) }
    }
    @media (width >= 1920px) { 
        max-height:130vw;
        .project { width: calc(20% - var(--horizontal-gap)) }
    }

    .project {

        .project-button {
            border-radius:1em;
            transition:scale .5s,
                box-shadow .5s,
                filter .5s;
            border:5px solid #fff;
            padding:0;
            display:block;
            box-shadow: 0 0 1em #0003;
            width:100%;
        }

        .project-button:hover {
            scale:1.05;
            cursor:pointer;
            box-shadow:0 0 1em #0009;
        }

        img {
            width:100%;
        }
        
        .project-dates {
            margin:0;
        }
    }
}

.popup[open] {
    position:fixed;
    inset:0;
    background:#0009;
    z-index:1;
    line-height:1.5;
    border:none;
    height:100%;
    width:100%;
    display:grid;
    justify-content:center;
    padding:0;

    .dialog-content {
        background:#000;
        color:#fff;
        display:grid;
        align-content:start;
        width:min(100% - 2em, 700px);
        max-height:100%;
        overflow:scroll;
        padding:1.5em;
        margin:1em;
        box-sizing:border-box;

        @media (width >= 600px) {
            margin:3em;
            padding:1em 3em 3em;
            font-size:1.25rem;
            justify-self:center;
        }

        .project-close-button {
            background:unset;
            color:#fff;
            border:none;
            justify-self:end;
            font-size:2rem;
            margin-bottom:1em;

            @media (width >= 600px) {
                margin-right:-2rem;
            }

            &:hover {
                cursor:pointer;
                scale:1.1;
            }
        }

        h4 {
            margin-top:2em;
        }

        ul {
            display:grid;
            
            gap:.5em 1em;
            line-height:1.2;

            @media (width >= 600px) {
                grid-template-columns:1fr 1fr;
                &.three-columns {
                    grid-template-columns:1fr 1fr 1fr;
                }
            }
        }
    }    
}